@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Work Sans", serif;
  }

  /* colors */

  .primary-color {
    color: rgba(19, 19, 19, 1);
  }
  .secondary-color {
    color: rgba(114, 114, 114, 1);
  }
  .third-color {
    color: rgba(255, 144, 14, 1);
  }
  .fouth-color {
    color: rgba(255, 255, 255, 1);
  }
  .bg-third-color {
    background-color: rgba(255, 144, 14, 1);
  }


  .display-flex {
    display: flex;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
  }


  /* header section design start */
  #header-section {
    background-color: rgba(255, 144, 14, 0.1);
  }

  /* nav-bar design start */
  .logo {
    font-size: 2.81rem;
    font-weight: 700;
  }

  .nav-bar {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
  }

  .nav-menu {
    align-items: center;
    gap: 1.56rem;
  }

  .nav-menu > li {
    list-style: none;
  }

  .nav-menu > li > a {
    font-size: 1.13rem;
    line-height: 1.63rem;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
    text-decoration: none;
  }

  /* nav-bar design end */

  /* banner design start */
  #banner {
    margin-top: 100px;
  }
  .banner-text-content {
    max-width: 53.88rem;
    margin: 0 auto;
    text-align: center;
  }

  .banner-title {
    font-size: 4rem;
    font-weight: 700;
  }

  .primary-text {
    font-size: 1rem;
    line-height: 1.63rem;
  }

  .btn {
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
    border-radius: 8px;
  }
  .my-30 {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .my-45 {
    margin: 45px 0;
  }

   #banner img {
    width: 100%;
  }

  /* team-section design start */
  .team-tite {
    font-size: 2.81rem;
    font-weight: 500;
  }

  .teams-container {
    max-width: 900px;
    margin: 85px auto 100px;
  }

  .team-member-img img {
    width: 100%;
  }

  .team-text-content {
    align-items: center;
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .teams-container {
    gap: 4.56rem;
  }
  /* team-section design end */

  /* features section design start */
  .features-container {
    gap: 9.13rem;
  }

  .features-img-content img {
    width: 100%;
  }
  .b-p-8 {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
  }

  .features-box {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 20px;
    border-radius: 8px;
    
  }

  .secondary-title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .text-trans {
    text-transform: capitalize;
  }

  .my-b-20 {
    margin-bottom: 10px;
  }

  .badge-btn {
    padding: 45px 42px;
    border: 0;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    margin-top: -77px;
    margin-left: -92px;
  }

  .experience {
    font-size: 1.56rem;
    line-height:  2.50rem;
  }











  @media screen and (max-width: 576px) {
    .display-flex {
        flex-direction: column;
    }

    .nav-bar {
        justify-content: center;
      }
      .nav-menu {
        margin-top: 30px;
      }
      /* team responsive */
      .team-grid {
        grid-template-columns: repeat(1, 1fr);
      }
      .teams-container, .features-container  {
        padding: 0 10px;
      }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    .display-flex {
        flex-direction: column;
    }

    .nav-bar {
        justify-content: center;
      }

      .nav-menu {
        flex-direction: row;
        margin-top: 30px;
      }

}

@media screen and (min-width: 768px) and (max-width: 992px){
    .nav-bar {
        max-width: 800px;
        margin: 0 auto;
      }

      .teams-container {
        max-width: 850px;
      }
}